
<html>
<head>
	<title>Laporan</title>

</head>
<body>

	<div class="row">
        <div id="articles" style="width:1400px;height:800px;"></div>
    </div>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function(){

        var endpoint = '/api/chart/data'
		var articleData = articleLabels = []

		$.ajax({
		    method: "GET",
		    url: endpoint,
		    success: function(data){
		        articleLabels = data.article_labels
		        articleData_P = data.article_data_penawaran
						articleData_I = data.article_data_invoice
		        articleChart()

		    },
		    error: function(error_data){
		        console.log("error")
		    },
		})

		function articleChart(){
		    var data1 = [{
		        y: articleData_P,
		        x: articleLabels,
		        type: 'bar',
		        orientation: 'v',
		        marker: {
		            color: '#23b7e5',
		        },
		    }];
				var data2 = [{	
		        y: articleData_I,
		        x: articleLabels,
		        type: 'bar',
		        orientation: 'v',
		        marker: {
		            color: '#acacac',
		        },
		    }];


		    var layout = {
		        title: 'Report Jumlah Penawaran Perbulan',
		        margin: {l:100},
		    };

		    Plotly.newPlot('articles', data1, layout);
		}

		})

	</script>

</body>
</html>
